<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <!-- For mapping types and generating syntactically correct SQL, depending on the database. -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <property name="hibernate.default_schema">hibernate</property>

        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="alekseybykov.portfolio.hibernate.annotations.id.ManuallyIdentifiedEntity"/>
        <mapping class="alekseybykov.portfolio.hibernate.annotations.id.AutoIdentifiedEntity"/>

        <mapping class="alekseybykov.portfolio.hibernate.mapping.many2one.unidirectional.Department"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.many2one.unidirectional.Employee"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.many2one.bidirectional.University"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.many2one.bidirectional.Student"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.one2one.fkassoc.unidirectional.Person"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.one2one.fkassoc.unidirectional.Passport"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.one2one.fkassoc.bidirectional.Book"/>
        <mapping class="alekseybykov.portfolio.hibernate.mapping.one2one.fkassoc.bidirectional.Publisher"/>

    </session-factory>

</hibernate-configuration>
